<template>
  <Form
    buttonText="Atualizar Cavaleiro"
    :name="knightData.name"
    :nickname="knightData.nickname"
    :birthday="knightData.birthday"
    :selectedWeapons="knightData.weapons"
    :keyAttribute="knightData.keyAttribute"
    :strength="knightData.attributes.strength"
    :dexterity="knightData.attributes.dexterity"
    :constitution="knightData.attributes.constitution"
    :intelligence="knightData.attributes.intelligence"
    :wisdom="knightData.attributes.wisdom"
    :charisma="knightData.attributes.charisma"
    @submit="handleSubmit"
  />
</template>

<script setup>
import { ref, onMounted } from "vue";
import Form from "../components/Form/Form.vue";
import services from "@/services";
import { useRoute, useRouter } from "vue-router";
import dayjs from "dayjs";

const knightData = ref({ attributes: {} });
const route = useRoute();
const router = useRouter();

const mapResponse = (data) => {
  return {
    ...data,
    birthday: new Date(data.birthday),
    weapons: data.weapons.map((weapon) => weapon.id),
  };
};

onMounted(async () => {
  const id = route.params.id;
  const { data } = await services.knights.get(id);

  knightData.value = mapResponse(data);
});

const handleSubmit = async (data) => {
  const id = route.params.id;
  await services.knights.update(id, {
    name: data.name,
    nickname: data.nickname,
    birthday: dayjs(data.birthday).format("YYYY-MM-DD"),
    weaponIds: data.selectedWeapons,
    keyAttribute: data.keyAttribute,
    attributes: {
      strength: Number(data.strength),
      dexterity: Number(data.dexterity),
      constitution: Number(data.constitution),
      intelligence: Number(data.intelligence),
      wisdom: Number(data.wisdom),
      charisma: Number(data.charisma),
    },
  });

  router.push({ name: "knights-list" });
};
</script>
