<template>
  <Form @submit="handleSubmit" buttonText="Criar Cavaleiro" />
</template>

<script setup>
import Form from "../components/Form/Form.vue";
import dayjs from "dayjs";
import services from "@/services";
import { useRouter } from "vue-router";

const router = useRouter();

const handleSubmit = async (data) => {
  await services.knights.create({
    name: data.name,
    nickname: data.nickname,
    birthday: dayjs(data.birthday).format("YYYY-MM-DD"),
    weaponIds: data.selectedWeapons,
    keyAttribute: data.keyAttribute,
    attributes: {
      strength: Number(data.strength),
      dexterity: Number(data.dexterity),
      constitution: Number(data.constitution),
      intelligence: Number(data.intelligence),
      wisdom: Number(data.wisdom),
      charisma: Number(data.charisma),
    },
  });

  router.push({ name: "knights-list" });
};
</script>
