<template>
  <header class="flex justify-between mb-2">
    <h3 class="text-3xl font-mono">Cavaleiros</h3>
    <div class="flex items-center">
      <label class="mr-2 text-black"> Mostrar Herois </label>
      <InputSwitch @change="handleFilter" v-model="checked" />
    </div>
    <div class="">
      <router-link to="/knights/create">
        <Button label="Criar novo Cavaleiro" icon="pi pi-plus" />
      </router-link>
    </div>
  </header>
  <DataTable :value="knights" showGridlines>
    <Column field="name" header="Name" />
    <Column field="age" header="Idade" />
    <Column field="weapons" header="Armas" />
    <Column field="keyAttribute" header="Atributo" />
    <Column field="atack" header="Ataque" />
    <Column field="experience" header="Exp" />

    <Column header="Ações">
      <template #body="{ data }">
        <div class="flex justify-around">
          <router-link :to="`/knights/${data.id}`">
            <Button icon="pi pi-pencil" severity="warning" rounded />
          </router-link>

          <Button
            icon="pi pi-trash"
            severity="danger"
            rounded
            @click="() => handleDelete(data.id)"
          />
        </div>
      </template>
    </Column>
  </DataTable>
</template>

<script setup>
import { defineEmits, defineProps, defineModel } from "vue";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Button from "primevue/button";
import InputSwitch from "primevue/inputswitch";
import services from "@/services";

defineProps(["knights"]);
const emit = defineEmits(["delete", "filter"]);
const checked = defineModel({ default: false });

const handleDelete = async (id) => {
  await services.knights.delete(id);
  emit("delete", id);
};

const handleFilter = () => {
  emit("filter", checked.value);
};
</script>
