<template>
  <Menubar :model="items">
    <template #start>
      <img
        alt="logo"
        src="https://cdn.freebiesupply.com/logos/large/2x/vegas-golden-knights-logo-black-and-white.png"
        width="36"
        height="36"
      />
    </template>
    <template #item="{ item, props, hasSubmenu }">
      <router-link v-slot="{ href, navigate }" :to="item.route" custom>
        <a :href="href" v-bind="props.action" @click="navigate">
          <span :class="item.icon" />
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </router-link>
    </template>
  </Menubar>
</template>

<script setup>
import Menubar from "primevue/menubar";
import { ref } from "vue";

const items = ref([
  {
    label: "Knights",
    icon: "pi pi-fw pi-id-card",
    route: "/knights",
  },
]);
</script>
