<template>
  <header>
    <h3 class="text-3xl font-mono">Novo Cavaleiro</h3>
  </header>
  <form @submit.prevent="handleSubmit">
    <FormLabel label="Nome">
      <InputText v-model="name" />
    </FormLabel>

    <FormLabel label="Apelido">
      <InputText id="nickname" v-model="nickname" />
    </FormLabel>

    <FormLabel label="Data de nascimento">
      <Calendar v-model="birthday" dateFormat="dd/mm/yy" ref="calendar" />
    </FormLabel>

    <FormLabel label="Armas">
      <MultiSelect
        v-model="selectedWeapons"
        display="chip"
        :options="weapons"
        optionValue="id"
        optionLabel="name"
        placeholder="Selecione as armas"
      />
    </FormLabel>

    <FormLabel label="Atributo chave">
      <Dropdown
        optionValue="code"
        optionLabel="name"
        v-model="keyAttribute"
        :options="attributes"
        placeholder="Selecione um atributo"
      />
    </FormLabel>

    <FormLabel label="Força">
      <InputText type="number" v-model="strength" />
    </FormLabel>

    <FormLabel label="Destreza">
      <InputText type="number" v-model="dexterity" />
    </FormLabel>

    <FormLabel label="Estamina">
      <InputText type="number" v-model="constitution" />
    </FormLabel>

    <FormLabel label="Inteligência">
      <InputText type="number" v-model="intelligence" />
    </FormLabel>

    <FormLabel label="Sabedoria">
      <InputText type="number" v-model="wisdom" />
    </FormLabel>

    <FormLabel label="Carisma">
      <InputText type="number" v-model="charisma" />
    </FormLabel>

    <Button class="mt-2" type="submit"> {{ buttonText }} </Button>
  </form>
</template>

<script setup>
import { ref, defineProps, defineModel, defineEmits, onMounted } from "vue";
import InputText from "primevue/inputtext";
import FormLabel from "@/components/FormLabel/FormLabel.vue";
import Calendar from "primevue/calendar";
import MultiSelect from "primevue/multiselect";
import Dropdown from "primevue/dropdown";
import Button from "primevue/button";
import service from "@/services";

defineProps(["buttonText"]);
const emit = defineEmits(["submit"]);
const calendar = ref(null);

const attributes = ref([
  {
    code: "strength",
    name: "Força",
  },
  {
    code: "dexterity",
    name: "Destreza",
  },
  {
    code: "constitution",
    name: "Estamina",
  },
  {
    code: "intelligence",
    name: "Inteligência",
  },
  {
    code: "wisdom",
    name: "Sabedoria",
  },
  {
    code: "charisma",
    name: "Carisma",
  },
]);

const weapons = ref();

const name = defineModel("name");
const nickname = defineModel("nickname");
const birthday = defineModel("birthday");
const selectedWeapons = defineModel("selectedWeapons");
const keyAttribute = defineModel("keyAttribute");
const strength = defineModel("strength");
const dexterity = defineModel("dexterity");
const constitution = defineModel("constitution");
const intelligence = defineModel("intelligence");
const wisdom = defineModel("wisdom");
const charisma = defineModel("charisma");

const fetchWeapons = async () => {
  const { data } = await service.weapons.list();
  return data;
};

onMounted(async () => {
  weapons.value = await fetchWeapons();
});

const handleSubmit = () => {
  emit("submit", {
    name: name.value,
    nickname: nickname.value,
    birthday: birthday.value,
    selectedWeapons: selectedWeapons.value?.map((weapon) => weapon),
    keyAttribute: keyAttribute.value,
    strength: strength.value,
    dexterity: dexterity.value,
    constitution: constitution.value,
    intelligence: intelligence.value,
    wisdom: wisdom.value,
    charisma: charisma.value,
  });
};
</script>
