<template>
  <div>
    <Menubar />

    <Card class="mt-4">
      <template #content>
        <slot />
      </template>
    </Card>
  </div>
</template>

<script setup>
import Menubar from "@/components/Menubar/Menubar.vue";
import Card from "primevue/card";
</script>
