<template>
  <DataTable :knights="knights" @delete="fetchKnights" @filter="fetchKnights" />
</template>

<script setup>
import { ref, onMounted } from "vue";
import DataTable from "./components/DataTable/DataTable.vue";
import services from "@/services";

const knights = ref([]);

const mapResponse = (data) => {
  return data.map((knight) => {
    return {
      ...knight,
      weapons: knight.weapons.map((weapon) => weapon.name).join(", "),
    };
  });
};

const fetchKnights = async (filter) => {
  console.log(filter);
  const { data } = await services.knights.list(filter);
  knights.value = mapResponse(data);
};

onMounted(async () => {
  await fetchKnights();
});
</script>
