<template>
  <div class="flex flex-col gap-2 mt-2">
    <label class="block uppercase tracking-wide font-bold">
      {{ label }}
    </label>
    <slot />
  </div>
</template>

<script setup>
defineProps(["label"]);
</script>
